RAW_SOURCE/*.txt
WARODAI/WARODAI
WARODAI/CATALOGS
WARODAI/WARODAI.map
XWARODAI/XWARODAI
XWARODAI/CATALOGS
XWARODAI/XWARODAI.map
WARODAI_SOURCE/*.html
XWARODAI_SOURCE/*.html
WARODAI_SOURCE/*.xml
XWARODAI_SOURCE/*.xml
WARODAI_encoding_report.html
XWARODAI_encoding_report.html