SRC/*/*.txt
EPWING/XBJRD/XBJRD
EPWING/BJRD/BJRD
EPWING/WARODAI/WARODAI
EPWING/*/CATALOGS
EPWING/*/*.map
EPWING/*/*.plist
HTML/BJRD/*.html
HTML/BJRD/*.xml
HTML/XBJRD/*.html
HTML/XBJRD/*.xml
HTML/WARODAI/*.html
HTML/WARODAI/*.xml