SRC/BJRD/*.txt
SRC/XBJRD/*.txt
SRC/WARODAI/*.txt
EPWING/*/*.plist
EPWING/BJRD/BJRD
EPWING/BJRD/CATALOGS
EPWING/BJRD/BJRD.map
EPWING/XBJRD/XBJRD
EPWING/XBJRD/CATALOGS
EPWING/XBJRD/XBJRD.map
EPWING/WARODAI/WARODAI
EPWING/WARODAI/CATALOGS
EPWING/WARODAI/WARODAI.map
HTML/BJRD/*.html
HTML/BJRD/*.xml
HTML/XBJRD/*.html
HTML/XBJRD/*.xml
HTML/WARODAI/*.html
HTML/WARODAI/*.xml
*_encoding_report.html
EBStudio/EBStudio.log